[Unit]
Description=Install Ansible Tower
After=local-fs.target

[Service]
ExecStart="/docker-entrypoint.sh ansible-tower"

[Install]
WantedBy=default.target
