[Unit]
Description=Install Ansible Tower
After=network.target

[Service]
ExecStart="/docker-entrypoint.sh ansible-tower"

[Install]
WantedBy=multi-user.target
