[Unit]
Description=Install Ansible Tower
After=network.target

[Service]
ExecStart=/docker-entrypoint.sh
EnvironmentFile=-/certs/ansible-setup.env

[Install]
WantedBy=multi-user.target
